<!DOCTYPE html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
<head>
    <title>Website Game Intro</title>
</head>
<body class="text-center">
    <h1>Website Game Introduction</h1><br>
    <h2>Introduction</h2>
    <p>
        The game is essentially the same as the game breakout but instead of having a moving bar to block the balls (the blue balls)
        you have your own ball (the green ball) instead. This ball you control has its own momentum and is controlled by rockets that
        will nudge it in a certain direction. Like breakout you need to destroy all the bricks at the top of the screen with the blue
        balls while preventing the same blue balls from hitting the bottom of the screen.
    </p><br>
    <h2>Controls</h2>
    <p>Use the arrow keys to control the green ball</p><br>
    <h3>Inter-level Interface</h3>
    <p>THe Inter-level interface will allow you give your name and select your level (through the buttons displayed). As you complete a level a new harder level will be
        made available (available levels stored in browser cookies).
    </p><br>
    <h2>Game</h2>
    <a href="bencancode">Link to game</a>
</body>
